<div>
    <h1>{{ spot.spot_name }}</h1>
    <p>Steps: {{ spot.steps }}</p>
    <p>City: {{ spot.city }}</p>
    <p>State: {{ spot.state }}</p>
    <p>Location of Stairs: {{ spot.location }}</p>
    <p>Description: {{ spot.description }}</p>
</div>