<div>
    <h1 class="spot-Formh1">Slinky Spots</h1>
    <div class="container">

        {{#each spots}}
        <div class="container card-spot">
            <div class="row">
                <div class="col-8">
                    <h2>{{ spot_name }} - {{ steps }} steps! </h2>
                    <h4>{{ city }}, {{ state }}</h4>
                </div>
                <div class="col-3">
                    <button class="btn btn-primary btn-view-waves" onclick="window.location.href='/spots/{{id}}';">
                        View Waves
                    </button>
                </div>
            </div>
            <p>{{ description }}</p>
        </div>
        {{/each}}

        <button class="btn btn-primary btn-new-spot" onclick="window.location.href='/createspot';">
            Submit a New Spot
        </button>
    </div>


    {{!-- <div>
        <h2 class="spot-formh2">Add a New Spot</h2>
        <form class="form spot-form">
            <div class="form-group">
                <label class="spotLabel" for="spotname-create">Spot Name:</label>
                <input class="form-input" type="text" id="spotname-create">
            </div>
            <div class="form-group">
                <label for="steps-create">Steps:</label>
                <input class="form-input" type="text" id="steps-create">
            </div>
            <div class="form-group">
                <label for="city-create">City:</label>
                <input class="form-input" type="text" id="city-create">
            </div>
            <div class="form-group">
                <label for="state-create">State:</label>
                <input class="form-input" type="text" id="state-create">
            </div>
            <div class="form-group">
                <label for="location-create">Location of stairs:</label>
                <input class="form-input" type="text" id="location-create">
            </div>
            <div class="form-group">
                <label for="description-create">Describe the spot:</label>
                <input class="form-input" type="text" id="description-create">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
    </div>
</div>
<script src="/js/createSpot.js"></script> --}}

<div id="map"></div>